@use 'utility' as u;

.header{
    height: u.rem(150);
    margin-top: u.rem(55);
    margin-bottom: u.rem(30);
    background-image: url(../images/pattern-circles.svg);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 200px;

    @include u.breakpoint-up(medium){
        margin-top: u.rem(65);
    }

    &__title{
        
        padding-top: u.rem(30);

    }

    &__subheading{
       padding-top: u.rem(10); 
       padding-bottom: u.rem(36);
       line-height: u.rem(24);
       letter-spacing: u.rem(0.5);
       color: var(--GrayishBlue);
       width: 190px;
       margin: auto;

        @include u.breakpoint-up(medium){
            padding-top: u.rem(16); 
            width: 350px;
        }
    }
}